<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no ,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>买买买-白菜价</title>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/baicaijia.css">
  <script src="js/flexible.js"></script>
</head>

<body>

  <div class="money_header">
    <div class="money_left">
      <a href="index.html" class="icon-back"></a>
    </div>
    <div class="money_title">
      <h4>白菜价-淘宝内部卷</h4>
    </div>
    <div class="money_right">
      <a href="javascript:;" class="icon-app"></a>
    </div>
  </div>




  <!-- 商品区域 -->

  <div class="bcj_header">

    <div class="bcj_title">
      <div class="bcj_list">
        <ul class="clearfix">
           <!-- ====坑==== -->
            
        </ul>
      </div>
    </div>


    <div class="bcj_search">
        <div class="icon-search">

        </div>

    </div>
  </div>

  <div class="bcj_product">

    <ul class="clearfix">
     <!-- ====坑==== -->
    </ul>
    <a href="#" id="gotop" class="gotop"></a>


  </div>
  



  <!-- 底部 -->
  <div class="mm_footer">
    <div class="footer_header">
      <a href="javascript:;">登录</a>
      <a href="javascript:;">注册</a>
      <a href="#" class="footer_top_icon" style="border: 0; width: 40%;">
        <img src="http://www.zuyushop.com/wap/images/top.jpg" width="15" height="15">返回顶部
      </a>
    </div>
    <div class="footer_fot">
      <p>
        <a href="javascript:;" class="fot">手机APP下载</a>
        <a href="index.html">慢慢买手机版</a> -- 掌上比价平台
      </p>
      <p>m.manmanbuy.com</p>
    </div>
  </div>


  <script type="text/html" id="tpl">
  {{each result v i}}
    <li class=""> <a href="baicaijia.html?titleid={{v.titleId}}">{{v.title}}</a> </li>
  
  {{/each}}
  </script>


  <script type="text/html" id="tpl2">
  
  {{each result v i }}
    <li>
        <a biz-itemid="538754112089"  isconvert="1" href="http://s.click.taobao.com/lkqGHQx"
        target="_blank">
      </a>
      <div class="bcj_img">
       <%- v.productImg%>
      </div>
      <div class="bcj_info">
        <div class="info_head">
          <div class="title">
            <%- v.productName%>
          </div>
          <div class="price">
              <%- v.productPrice%>
          </div>
        </div>
        <div class="info_fot">
          <%- v.productCouponRemain%>
          <div class="place clearfix">

            <div class="place_left"><%- v.productCoupon%></div>
            <div class="place_right"><%- v.productHref%></div>

          </div>
        </div>
      </div>
      </li>
  
  
  {{/each}}
  </script>

  <script src="lib/zepto/zepto.min.js"></script>
  <script src="lib/artTemplate/template-web.js"></script>
  <script src="js/common/iscroll.js"></script>
  <script src="js/baicaijia.js"></script>
</body>

</html>