.category {
  border-radius: .09rem;
  background-color: #ededed;
  border: 1px solid #ccc;
  font-size: .26rem;
  color: #666;
}
.category > ul > li .mune {
  background-color: #f9f9f9;
  display: none;
}
.category > ul > li .mune li {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: .74rem;
  line-height: .74rem;
  text-align: center;
}
.category > ul > li .mune li a {
  display: block;
  width: 100%;
  color: #000;
}
.category > ul > li .mune.hide {
  display: block;
}
.category > ul > li > a {
  height: .74rem;
  display: block;
  line-height: .74rem;
  font-size: .3rem;
  color: #000;
  padding-left: .3rem;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  background: url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
}
