.money_header {
  height: 0.81rem;
  width: 100%;
  background-color: #ff841d;
  color: #fff;
  position: relative;
}
.money_header .money_title {
  height: 0.81rem;
  margin: 0 0.81rem;
  text-align: center;
  line-height: 0.81rem;
  font-size: 0.37rem;
}
.money_header .money_left {
  width: 0.93rem;
  height: 0.81rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.money_header .money_left .icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='1.5em' height='1.5em'><path fill='#FFFFFF' d='M818.881422 747.988622 755.734756 812 313.503289 363.943111 313.480533 363.965867 250.311111 299.931733 755.734756-212.113778 818.881422-148.1024 376.672711 299.954489Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.money_header .money_right {
  width: 0.93rem;
  height: 0.81rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.money_header .money_right .icon-app {
  background-image: url(http://m.manmanbuy.com/images/header_app.png);
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.56rem;
}
.money-content {
  padding: 0.07rem 0.19rem;
  background-color: #fff;
}
.money-content h3 {
  font-size: 0.33rem;
  margin: 10px auto 5px auto;
  text-align: left;
  font-weight: 700;
  color: #5a5a5a;
}
.money-content .money_info {
  color: #999999;
  font-size: 12px;
  margin: 12px auto;
}
.money-content .money_info span {
  color: #999999;
  vertical-align: middle;
}
.money-content .money_info span:first-child {
  margin: 0 0.07rem;
}
.money-content .money_info span:nth-child(2) {
  margin-right: 0.07rem;
}
.money-content .money_info span:last-child {
  margin-right: 0.07rem;
}
.money-content .money_banner .money_img {
  float: right;
  width: 2.22rem;
  margin: 0.22rem auto auto 0.19rem;
  overflow: hidden;
}
.money-content .money_banner .money_img img {
  width: 2.22rem;
  height: 2.22rem;
}
.money-content .money_banner .content {
  font-size: 0.3rem;
  line-height: 0.44rem;
  color: #606060;
  padding-bottom: 0.37rem;
}
.money-content .money_banner .content p {
  margin: 0.11rem auto;
  line-height: 0.44rem;
  color: #606060;
}
.money-content .money_banner .content p img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.money-content .money_center .s {
  margin-left: 35%;
  line-height: 0.7rem;
  display: inline-block;
  padding: 0 0.37rem 0 0.3rem;
  cursor: pointer;
}
.money-content .money_center .s i {
  display: inline-block;
  margin-left: 0.11rem;
}
.money-content .money_center .s .drop {
  width: 2.56rem;
  padding: .19rem;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  border-color: #f1f1f1 #f1f1f1 #dbdbdb #f1f1f1;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
}
.money-content .money_center .s .drop li {
  font-size: .22rem;
  line-height: .37rem;
  border-bottom: 1px dashed #ccc;
}
.money-content .money_center .s .drop li a {
  display: block;
  padding: 0 .19rem;
}
.money-content .money_center strong {
  color: #f27b04;
  font-weight: normal;
  float: right;
}
.money-content .money_golink a {
  display: block;
  margin: .37rem .19rem;
  background-color: #FF9000;
  height: .56rem;
  border-radius: .07rem;
  line-height: .56rem;
  text-align: center;
  font-size: .26rem;
  color: #fff;
}
.money_weixin {
  margin: .37rem .19rem;
  text-align: center;
}
.money_weixin img {
  display: block;
  width: 100%;
  height: auto;
}
.cu-content-pl {
  background-color: #fff;
}
.cu-content-pl .tit {
  font-size: .3rem;
  padding: .11rem .15rem;
}
.cu-content-pl .reply {
  padding: .11rem .15rem;
}
.cu-content-pl .reply .form {
  border: 2px solid #eceae8;
  border-radius: .07rem;
  padding: .07rem 0 0 .07rem;
  background-color: #fff;
  position: relative;
  width: 98%;
  margin: 0 auto;
}
.cu-content-pl .reply .form textarea {
  width: 100%;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: .41rem;
  font-size: .26rem;
  outline: none;
  height: 1.26rem;
  color: #666;
}
.cu-content-pl .reply .form .ctrl {
  height: .67rem;
  background-color: #fbfbfb;
  margin-left: -0.07rem;
  border-top: 1px solid #f2f2f2;
}
.cu-content-pl .reply .form .ctrl input {
  position: absolute;
  bottom: -0.04rem;
  right: -0.04rem;
  background-color: #ff841d;
  border: 2px solid #ff841d;
  border-left: none;
  border-top: none;
  width: 1.85rem;
  height: .72rem;
  color: #fff;
  outline: none;
  border-radius: 0 0 .04rem 0;
  font-size: .3rem;
}
.cu-content-pl .list li {
  padding: .33rem .19rem;
  background-color: #fff;
}
.cu-content-pl .list li .userimg {
  width: .74rem;
  float: left;
  overflow: hidden;
}
.cu-content-pl .list li .userimg img {
  width: .74rem;
  background-position: top;
  border-radius: .37rem;
  height: .74rem;
  vertical-align: middle;
}
.cu-content-pl .list li .con {
  padding-left: .19rem;
  overflow: hidden;
}
.cu-content-pl .list li .con .name {
  margin-bottom: 6px;
}
.cu-content-pl .list li .con .name .username {
  font-size: .24rem;
  color: #5997c0;
  float: left;
}
.cu-content-pl .list li .con .name .time {
  font-size: .24rem;
  float: right;
  color: #999999;
}
.cu-content-pl .list li .con .content {
  line-height: .37rem;
  font-size: .28rem;
  color: #606060;
}
